/* linear-gradient(to bottom, #1d3461, #8b1d30)
circle-color: #ff0017
logo-color: white*/

/* center(
    position:absolute
    top:0
    right:0
    left:0
    margin: auto

)

pseudo(
    content: ''
    position: absolute
    
    
    )
    */

    html, body{
        width: 100%;
        height: 100%;
    }

    body{
        background: linear-gradient(to bottom, #1d3461, #8b1d30);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* div que engloba a logo,
     */
    .logo{

    /* center */
    position:absolute;
    top:10vmin;
    right:0;
    left:0;
    margin: auto;

    width: 65vmin;
    height: 65vmin;
    border-radius: 50%;
    background-color: #ff0017;
    box-shadow: drop-shadow(0  5 #ff0017);


    }

    /* circulo vermelho com borda branca
     */
    .circle{
        /* center */
    position:absolute;
    top:35px;
    right:0;
    left:0;
    margin: auto;
    width: 46.4vmin;
    height: 46.4vmin;
    border-radius: 50%;

    background-color: #ff0017;
    border: 4.5vmin solid white;
    box-shadow: 0 0 5vmin 5vmin #ff0017;
    }

    /* linha branca do lado esquerdo */
    .a-shape{
     /* center */
     z-index: 2;
    position:absolute;
    top:-20vmin;
    right: 5vmin;
    left:-14.3vmin;
    margin: auto;
    width: 6.6vmin;
    height: 71.6vmin;
    background: white;
    transform: rotate(25deg) skewY(-25deg);  
    }

    /* linha vermelha do lado esquerdo,
    ela vai de cima até embaixo */
    .a-shape::before{
        /* pseudo */
        content: '';
        position: absolute;
        left: -1.5vmin;
        top: 9vmin;
        width: 1.6vmin;
        height: 55vmin;
        background: #ff0017;
    }

    /* detalhe da linha branca à esquerda
    na ponta debaixo, ele aumenta um pouco a largura
    da linha na parte inferior */
    .a-shape:after{
        /*pseudo */
        content: '';
        position: absolute;
        left: 4.45vmin;
        width: 3.5vmin;
        height: 71.6vmin;
        background: white;
        transform: rotate(-2.9deg) skewY(3deg);

    }


    /* linha vermelha do lado direito da linha
    da esquerda */
    .left-shape-line{
        background: #ff0017;
        position:absolute;
        z-index: 1;
        bottom: -43vmin;
        top:120px;
        right:-38.5vmin;
        left:-24.5vmin;
        margin: auto;
        width: 1.7vmin;
        height: 10vmin;
        transform: rotate(-2.9deg);
    }

    /* linha branca de centro do "A" */
    .center-shape{
        background: white;
        margin: auto;
        right: 0;
        left: 8vmin;
        position:absolute;

        z-index: 1;
        top:45.75vmin;
        width: 20vmin;
        height: 8.15vmin;
    }

    
    /* linha vermelha encima do triângulo central */
    .center-shape::before{
        /* pseudo */
        content: '';
        position: absolute;
        top: -1vmin;
        left: 7.7vmin;
        right: 0;
        width: 22vmin;
        height: 1vmin;
        background: #ff0017;
        transform: rotate(32.3deg);
    }


    /* triângulo da linha central do "A" */
    .center-shape-right{

        margin: auto;
        right: 0;
        z-index: 1;
        top: 40.75vmin;
        left: 22.75vmin;
        width: 0;
        height: 0;
        position:absolute;

        border-top: 8.5vmin solid transparent;
        border-bottom: 7vmin solid transparent;
        border-left: 8vmin solid white;

        transform: rotate(-15deg);
    }


    /* linha vermelha embaixo do trângulo */
    .center-shape-right::before{
        content: '';
        position: absolute;
        left: -10vmin;
        top: 1.9vmin;
        width: 15vmin;
        border-bottom: 1.5vmin solid #ff0017;
        transform: rotate(-42deg);  
    }


    /* linha branca à direita */
    .right-shape{
        margin: auto;
        right: 0;
        z-index: 0;
        top: -1.5vmin;
        left: 13.8vmin;
        width: 6.5vmin;
        height: 63vmin;
        position:absolute;

        transform: rotate(-25deg);

        background: white;
    }

    /* linha vermelha ao lado direito da linha branca
    à direita */
    .right-shape::after{
        content: '';
        position: absolute;
        top: 14vmin;
        left: 6.6vmin;
        width: 1.7vmin;
        height: 15vmin;
        background: #ff0017;
    }